<h1>Listing audits</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody id="refreshable">
    <%= render :partial => "audits" %>
  </tbody>
</table>
