<h1>Listing audits</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Type</th>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @audits.each do |audit| %>
      <tr>
        <td><%= audit.auditable_type %></td>
        <td><%= audit.action %></td>
        <td><%= audit.audited_changes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
